.container {
  position: relative;
  background-image: none;
  /* No background image directly on the container */
  z-index: 1;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../assets/heroBG.png');
  /* Background image on the pseudo-element */
  background-repeat: repeat;
  opacity: 0.5;
  /* Opacity applied only to the background image */
  z-index: -1;
}

.topGradient {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 9;
}

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--text-color);
  padding: 20px;
  padding-top: calc(80px + 80px);
  height: calc(100% + 20px);

  .bgImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.5;
  }

  .heroTitle {
    color: var(--text-color);
    font-family: "DM Sans";
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: 64.8px;
    /* 120% */
    letter-spacing: -2.16px;
    margin-top: 0;
    margin-bottom: 32px;
  }

  .heroIcon {
    position: absolute;
    right: 14px;
  }

  .heroContent {
    width: 600px;

    .heroTime {
      color: #919191;
    }

    .heroSubtitle,
    .heroText {
      color: var(--text-color);
    }

    .heroSubtitle {
      font-family: "DM Sans";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 25.2px;

      /* 140% */
      strong {
        font-family: 'Tiro Devanagari Hindi';
        font-weight: 700;
      }

      span {
        display: inline-block;
        animation: wiggle 2s ease-in-out infinite;
      }

      @keyframes wiggle {
        0% {
          transform: rotate(0deg);
        }

        20% {
          transform: rotate(0deg);
        }

        30% {
          transform: rotate(-10deg);
        }

        40% {
          transform: rotate(10deg);
        }

        50% {
          transform: rotate(-10deg);
        }

        60% {
          transform: rotate(10deg);
        }

        70% {
          transform: rotate(-10deg);
        }

        80% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(0deg);
        }
      }
    }

    .heroText {
      margin-top: 32px;
      color: #919191;
      font-family: "Inter";
      font-size: 12.688px;
      font-style: normal;
      font-weight: 500;
      line-height: 18.2px;
      /* 143.448% */
      letter-spacing: 1.12px;
      text-transform: uppercase;
    }

    .heroLogo {
      display: flex;
      align-items: self-end;
      justify-content: start;
      gap: 16px;

    }
  }

  @media screen and (max-width:500px) {
    padding-top: calc(80px + 24px);

    .heroContent {
      width: 100%;

      .heroTime {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .heroTitle {
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 41.6px;
        /* 130% */
        letter-spacing: -1.28px;
      }

      .heroSubtitle {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.2px;
      }

      .heroLogo {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        row-gap: 0;
        padding-top: 8px;
      }
    }
  }
}

.projectSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  .title {
    color: #919191;
    font-family: Inter;
    font-size: 13.125px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.2px;
    /* 138.667% */
    letter-spacing: 1.12px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      width: 600px;
      text-align: start;
    }
  }

  .cardsContainer {
    // display: flex;
    // gap: 40px;
    // flex-direction: row;
    // overflow: scroll;
    position: relative;
    padding-top: 80px;
    padding-bottom: 135px;

    scrollbar-width: none;
    -ms-overflow-style: none;

    ::-webkit-scrollbar {
      display: none;
    }

    .carouselBtn {
      scale: 0.8;
      outline: none;
      text-decoration: none;
      border: none;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.50);
      position: absolute;
      top: 45%;
      z-index: 1;
      transition: background-color 0.2s ease-in;
      cursor: pointer;

      &:hover {

        background-color: rgb(133, 133, 133);
      }
    }
  }

  .cardsContainerMobile {
    display: none;
  }

  .sticker {
    position: absolute;
    top: -50px;
    left: 97px;
  }

  @media screen and (max-width:500px) {
    padding: 20px;
    padding-bottom: 40px;
    width: unset;

    .title {
      width: 100%;

      span {
        width: 100%;
      }
    }

    .cardsContainer {
      display: none;
    }

    .cardsContainerMobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 32px;
      width: calc(100%);
      padding-top: 32px;
    }
  }
}

.mobileBento {
  display: none;
  flex-direction: column;
  gap: 24px;
  padding: 20px 0;

  .title {
    padding: 0 20px;
    color: #919191;
    text-align: left;
    font-family: Inter;
    font-size: 12.688px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.2px;
    /* 143.448% */
    letter-spacing: 1.12px;
    text-transform: uppercase;
  }

  @media screen and (max-width:500px) {
    display: flex;
  }
}

.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 150px;
  position: relative;



  .sticker1 {
    position: absolute;
    top: 215px;
    left: 6%;
  }

  .sticker2 {
    position: absolute;
    top: -20px;
    right: 152px;
  }

  .title {
    color: #919191;
    font-family: Inter;
    font-size: 13.125px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.2px;
    /* 138.667% */
    letter-spacing: 1.12px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;

    span {
      width: 600px;
      text-align: start;
    }
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: relative;
  }

  .dialog {
    position: absolute;
    top: -5rem;
    left: -16%;
  }

  @media screen and (max-width:500px) {
    padding: 20px;
    padding-bottom: 40px;

    .title {
      width: 100%;

      span {
        width: 100%;
      }
    }

    .cards {
      width: calc(100% - 40px);
    }

    .dialog {
      position: absolute;
      top: -6rem;
      left: -16%;
      transform: scale(0.8);
    }
  }
}